<h4> LWC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+94777222841&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chahuni.com </h4>
<app-navigation></app-navigation>
<p class="physics"> It is Worng to yhink thst the task of Physics is to find out how Nature is. Physics concerns what we<br> say about Nature.<br> -Niela Bohr-</p>
<p class="maths">Without mathematics,there is nothing you can do. Everything around you is mathematics.<br> Everything around you is numbers <br> -Shakuntal Devi-</p>
<img class="two" src="assets/2.jpg">
<div class="about">
  <h2> About Us</h2>
  <table border="0">
  <tr>
    <td style = "width:800px"><img class="three" src="assets/3.jpg"></td>
    <td class="aboutpara"> Studying at University of<br> Kelaniya,Sri Lanka.<br>Faculty of Science<br>Department of Physics<br>Physics Special.</td>
  </tr>
  </table>
</div>
<div class="classes">
  <h2> Classes</h2>
  <table border="0">
    <tr>
      <td><img class="e" src="assets/e1.jpg"> </td>
      <td><img class="e" src="assets/e2.jpg"></td>
      <td><img class="e" src="assets/e3.jpg"></td>
    </tr>
    <tr>
      <td class="A"> Grade 3 to 5</td>
      <td class="A"> Ordinary Level</td>
      <td class="A"> Advance Level</td>
    </tr>
  </table>
</div>
<div class="missoin1">
  <table border="0"class="table1">
    <tr>
      <th>Our Mission</th>
      <th style="width:800px">My Messsage</th>
    </tr>
    <tr>
      <td class="td1"><p class="misson">In our class,Our mission is to <br> foster an inclusive and <br> dynamic learning environment<br>that empowers each student to <br> explore their passions and <br> reach their full potential.</p></td>
      <td class="td2"><p class="misson">Welcome I'm excited to start this <br> journey with you.Let's create a<br> positive and supporties<br> environment,work together,and<br>make theis year memorable.I<br> believe in each of you and look<br> forward to our success.</p></td>
    </tr>
  </table>
</div>
<div class="Social">
  <h2> Social Media</h2>
  <table border="0">
    <tr>
      <td><img class="s" src="assets/y.png"></td>
      <td><img class="s" src="assets/i.png"></td>
      <td><img class="s" src="assets/ii.png"></td>
      <td><img class="s" src="assets/w.png"></td>
      <td><img class="s" src="assets/f.png"></td>
    </tr>
  </table>
</div>
<div class="hightlight">
  <h2> Student Hightlight</h2>
  <table border="0">
    <tr>
      <td><img class="h" src="assets/h1.jpg"></td>
      <td><img class="h" src="assets/h2.jpeg"></td>
    </tr>
  </table>
</div>

<div class="contanct">
  <h2> Contact Us</h2>
  <table border="0">
    <tr>
      <td><img class="c" src="assets/w.png"></td>
      <td><img class="c" src="assets/f.png"></td>
      <td><img class="c" src="assets/i.png"></td>
    </tr>
  </table>
</div>
<div class="footer">
  <p>2024 © Design and Developed by Aruna Samarasinghe (UX/UI Designer and Web Designer)</p>
</div>
